.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.top-div {
    background-color: "red";
    height: "80px";
    background-image: url("./vdt-logo.png");
    background-position-x: "50%";
    background-position-y: "50%"
}

.card {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 40%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.top-div {
    position: 'relative';
    width: 100; 
    left: '32%';
    align-items: 'center';
    display: 'flex';
    justify-content: 'center';
}

/* Large screens */
@media only screen and (min-width: 992px) {
    .card {
    width: 20%;
    max-width: none;
    padding: 24px;
    margin: 20px auto;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .card {
    width: 70%;
    max-width: none;
    padding: 24px;
    margin: 20px auto;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .card {
    width: 70%;
    max-width: none;
    padding: 24px;
    margin: 20px auto;
  }
}



.inputGroup {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}

input {
    padding: 7px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

input:focus {
    outline: none;
    border: 3px solid pink;
}

.buttonPrimary {
    padding: 8px;
    background-color: #ff009dff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.buttonSecondary {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
}

.newPwdLabel {
    font-size: 13px;  
}

/* Spinner Animation Keyframes */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* The Spinner Circle */
.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #ffffff; /* White */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

/* Style for disabled button during loading */
.buttonPrimary:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}


